@import "./material.min.css";

:root {
  --adlcount: 15
}

html,
body {
  height: unset;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  cursor: unset;
}

.title {
  text-align: center;
  font-size: xx-large;
  margin: 1px auto;
  animation: fadein 2s;
}

.configbutton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  animation: fadein 1s;
}
.configmenu {
  position: absolute;
  top: 0;
  right: 3rem;
  margin: 0;
  background-color: white;
  opacity: 0.98;
  z-index: 10;
  border: 2px solid black;
  padding: 5px 0;
  justify-items: right;
}
.configmenu > .header {
  font-weight: 700;
}
.configmenu > li {
  list-style-type: none;
  margin: 0;
  padding: 2px 15px;
}
.configmenu > li.option {
  cursor: pointer;
}
.configmenu > li.option:hover {
  background-color: rgb(241, 241, 241);
}
.configmenu > li > img {
  height: 22px;
  margin: -2px 10px auto auto;
}
.configmenu > li > input {
  float: right;
  margin-top: 6px;
  margin-left: 1rem;
}

.navButton {
  display: inline;
  cursor: pointer;
  background-color: lightgrey;
  font-weight: 800;
  font-family: monospace;
  font-size: larger;
  padding: 5px 10px;
  animation: fadein 1s;
}
.navButton:hover {
  padding: 4px 9px;
  border: 1px solid darkgrey;
}

.calendar {
  display: inline-grid;
  min-height: calc(100vh - 6rem);
  width: calc(100vw - 10rem);
  grid-auto-flow: column;
  grid-template-rows: 100%;
  margin: 1px auto;
  animation: fadein 2s;
}

.day {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px repeat(var(--adlcount), calc((100% - 30px) / var(--adlcount)));
  height: 100%;
  opacity: 0.65;
}
.day.today {
  opacity: 1;
}

.dayhead {
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
}
.past > .dayhead {
  background-color: thistle;
}
.future > .dayhead {
  background-color:slategrey;
}

.dayhead-label {
  width: 10em;
  text-align: center;
}
.today > .dayhead > .dayhead-label {
  font-size: large;
  font-weight: 600;
}


.adl {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  height: 100%;
}
.adl:hover {
  border: 1px solid darkgrey;
  padding: 0px;
  filter: brightness(1.02);
}
.adl.adl {
  background-color: aliceblue;
}
.adl.iadl {
  background-color: beige;
}
.adl.sadl {
  background-color: blanchedalmond;
}
.adl.achieved {
  background-color: chartreuse;
}
.adl > input {
  cursor: pointer;
}

.adl-icon {
  height: 100%;
  padding-right: 3px;
}
