@import "./material.min.css";

html,
body {
  height: unset;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: xx-large;
  margin: 1px auto;
}

.navButton {
  display: inline;
  cursor: pointer;
  background-color: lightgrey;
  font-weight: 800;
  font-family: monospace;
  font-size: larger;
  padding: 5px 10px;
}
.navButton:hover {
  padding: 4px 9px;
  border: 1px solid darkgrey;
}

.calendar {
  display: inline-grid;
  height: calc(100vh - 12rem);
  width: calc(100vw - 10rem);
  grid-auto-flow: column;
  margin: 1px auto;
}

.day {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px auto;
  opacity: 0.5;
}
.day.today {
  opacity: 1;
}

.dayhead {
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
}
.past > .dayhead {
  background-color: thistle;
}
.future > .dayhead {
  background-color:slategrey;
}

.dayhead-label {
  width: 10em;
  text-align: center;
}
.today > .dayhead > .dayhead-label {
  font-size: large;
  font-weight: 600;
}


.adl {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
.adl:hover {
  border: 1px solid darkgrey;
  padding: 0px;
  filter: brightness(1.02);
}
.adl.death {
  background-color: aliceblue;
}
.adl.shaft {
  background-color: beige;
}
.adl.bombs {
  background-color: blanchedalmond;
}
.adl.achieved {
  background-color: chartreuse;
}
.adl > input {
  cursor: pointer;
}

.adl-icon {
  height: 4rem;
  padding-right: 3px;
}
